$primary: #48e28d;

@import "../node_modules/bootstrap/scss/bootstrap";

// * Variable
@font-face {
  font-family: "Made Tommy Light";
  src: url("../assets/font/MADE\ TOMMY\ Light.otf");
}

@font-face {
  font-family: "Made Tommy Regular";
  src: url("../assets/font/MADE\ TOMMY\ Regular.otf");
}

@font-face {
  font-family: "Made Tommy Medium";
  src: url("../assets/font/MADE\ TOMMY\ Medium.otf");
}

@font-face {
  font-family: "Made Tommy Bold";
  src: url("../assets/font/MADE\ TOMMY\ Bold.otf");
}

$madeLight: "Made Tommy Light", sans-serif;
$madeRegular: "Made Tommy Regular", sans-serif;
$madeMedium: "Made Tommy Medium", sans-serif;
$madeBold: "Made Tommy Bold", sans-serif;
$shadow: 0 8px 24px
  rgba(
    $color: #000000,
    $alpha: 0.18,
  );
$primaryColor: #48e28d;
$primaryColorDark: darken($primaryColor, 10%);

// * Global
html {
  scroll-behavior: smooth;
}

body {
  font-family: $madeRegular;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $madeBold;
}

// ? Class & ID's
.btn {
  border: none;

  &:focus {
    box-shadow: none !important;
  }
}

#btn-landing a {
  padding: 12px 18px;
}

.btn-primary {
  color: white;

  &:hover {
    color: white;
  }
}

.btn-primary,
.btn-secondary {
  transition: 0.3s;

  &:hover {
    box-shadow: $shadow;
    transform: translateY(-8px);
    position: relative;
  }
}

.btn-donate {
  color: $primaryColor !important;
  background-color: rgba($color: #000, $alpha: 0.02);
  border: none !important;
  transition: 0.3s;

  &:hover {
    background-color: whitesmoke;
    box-shadow: $shadow;
    transform: translateY(-4px);
    position: relative;
  }

  &:focus {
    color: white !important;
  }
}

.card-download {
  border-radius: 20px;
}

.form-control {
  background-color: #e6e6e6 !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 14px;

  &:focus {
    box-shadow: $shadow;
  }
}

.text-primary {
  color: $primaryColor !important;

  &:hover {
    color: $primaryColorDark !important;
  }
}

.show {
  transition: 0.3s;
}

.navbar.navbar-index {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 99;

  .navbar-brand img {
    height: 22px;
  }

  .navbar-toggler {
    border: none;

    &:focus {
      background-color: whitesmoke;
      box-shadow: none !important;
    }

    .fas {
      color: rgb(27, 27, 27);
    }
  }

  .navbar-nav .nav-item:not(:last-child) {
    margin-right: 16px;
    font-weight: 600;
  }

  .dropdown-menu {
    border: none;
    border-radius: 12px;
    box-shadow: $shadow;

    .dropdown-item {
      padding: 14px;
    }
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url("../assets/loader.svg") no-repeat center;
  background-size: 75px;
  z-index: 9999;
}

#scroll-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: $primaryColor;
  color: white;
  cursor: pointer;
  padding: 12px;
  opacity: 0;
  transition: 0.6s;

  &:hover {
    background-color: $primaryColorDark;
  }
}

.shape-divider {
  position: relative;
  display: block;
  width: 100%;
  left: 0;
  bottom: -2px;
}

#section-1,
#section-3,
#section-4,
#section-5,
#section-6 {
  overflow-x: hidden;
}

#section-1 {
  padding: 82px 0;

  #tagline {
    margin-top: -30px;
    margin-bottom: -10px;
  }
}

#section-2 {
  margin-bottom: -240px;

  #section-2-card {
    border-radius: 20px;
  }
}

#section-3 {
  div {
    min-height: 250px;
  }
  #ss-img {
    width: 240px;
  }
}

#section-4 {
  padding: 100px 0;
}

#section-4-quotes {
  line-height: 150%;

  div & {
    background-image: url("../assets/quotes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    background-size: 50%;
    padding: 72px 0;
  }
}

#count {
  margin-bottom: 180px;

  img {
    width: 400px;
  }
}

#section-5 {
  .fa-telegram {
    color: #2ba9db;
  }

  .small.text-muted {
    font-family: $madeRegular;
  }

  #final-section {
    font-family: $madeBold;
  }
}

#section-6 {
  padding: 80px 0;
  margin-top: -80px;

  ul {
    line-height: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#changelog-page {
  padding-top: 142px;
  
  #changelog {
    ul {
      li {
        line-height: 2em;
      }
    }
  }

  #version {
    .sidebar {
      position: sticky;
      top: 25vh;
      max-height: 70vh;
      overflow-y: auto;
      border-radius: 1.2em;
    }
  }
}

footer {
  background-color: $primaryColorDark;

  img {
    filter: brightness(100);
  }

  div div:nth-child(2) {
    a {
      color: white;
      font-family: $madeLight;
      line-height: 180%;
      display: list-item;
      list-style: none;

      &:hover {
        color: $primaryColor !important;
      }
    }
  }

  #maintainer {
    font-family: $madeLight;
  }

  #copyright {
    font-family: $madeLight;

    #web-dev {
      color: $primaryColor;

      &:hover {
        color: $primaryColorDark;
      }
    }
  }
}

// ? Phone breakpoint
@media (max-width: 575.98px) {
  .navbar {
    .navbar-brand img {
      height: 18px;
    }
  }

  #hero-img {
    width: 260px;
  }

  #a11-img {
    width: 260px;
  }

  #section-4 {
    padding: 100px 0;
  }
}

// ! Animated Dropdown
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
